.button {
  width: 17px;
  height: 17px;
  background: url("../../../assets/deleteButton/Delete.svg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.button:hover {
  background: url("../../../assets/deleteButton/DeleteHover.svg") no-repeat;
}
