.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1 {
  font-family: "Instrument Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

button {
  border: none;
  background-color: #fff;
  padding: 14px 20px 14px 15px;
  display: inline-flex;
  gap: 6px;
  font-family: "Oxygen Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.iconsContainer {
  width: 15px;
  height: 17px;
  position: relative;
}

.diceOne {
  position: absolute;
  left: 0px;
  transition: transform 0.5s;
}

.diceTwo {
  position: absolute;
  left: 0px;
  transition: transform 0.5s;
}

button:hover{
  box-shadow:inset 0px 0px 0px 1px #000;
}

button:hover .diceOne {
  transform: translate(1px,-6px) rotate(50deg);
}

button:hover .diceTwo {
  transform: translate(5px,6px) rotate(-65deg);
}
