.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 80px 80px 26px 80px;
  border: 1px solid #000;
  background-color: #fff;
}

h2 {
  font-family: "Instrument Serif";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.buttonsContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-family: "Oxygen Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.primaryButton {
  min-width: 100%;
  padding: 14px 20px;
  background-color: #000;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primaryButton:hover {
  text-decoration: underline;
}

.primaryButton:disabled {
  text-decoration: none;
  cursor: default;
  opacity: 0.9;
  pointer-events: none;
}

.secondaryButton {
  width: 120px;
  padding: 14px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0px solid transparent;
}

.secondaryButton:disabled {
  text-decoration: none;
  cursor: default;
  border: none;
}
.secondaryButton:disabled:hover {
  pointer-events: none;
}

.shadowContainer {
  position: absolute;
  top:0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  background-color: #0000000c;
  z-index: 200;
}

.spinner {
  border: 1px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
