:root {
  --animationOptions: 2.5s ease-in;
}

.container {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  z-index: 100;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
h1 {
  margin: 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 14px 20px;
  margin: 0;
  text-transform: uppercase;
  cursor: default;
  transition: border 0.5s ease-in-out;
  font-family: "Oxygen Mono";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
}

.button:disabled {
  pointer-events: none;
  color: #000;
  opacity: 0.9;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1091px;
  height: 1091px;
  border: 0.5px solid #000000;
  border-radius: 50%;
  overflow: hidden;
}
.circleSmall {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 632px;
  height: 632px;
  border: 0.5px solid #000000;
  border-radius: 50%;
}

.line {
  position: absolute;
  width: 100%;
  height: 0.5px;
  background-color: #000000;
  left: 50%;
  transform: translateX(-50%);
}

/* Animations */
/* Header */

/* When panini ordered */
@keyframes containerIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animationIn {
  animation: containerIn var(--animationOptions);
}

/* When panini started */
@keyframes containerOut {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animationOut {
  animation: containerOut var(--animationOptions);
}

/* Main Circle */
@keyframes mainCircle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
.animationMainCircle {
  animation: mainCircle var(--animationOptions);
}

/* Right Circles */
@keyframes rightCircle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(calc(-50% + 1500px), -50%) scale(3);
    opacity: 0;
  }
}
.animationRightCircle {
  animation: rightCircle var(--animationOptions);
}

/* Left Circles */
@keyframes leftCircle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(calc(-50% - 1500px), -50%) scale(3);
    opacity: 0;
  }
}
.animationLeftCircle {
  animation: leftCircle var(--animationOptions);
}

/* Top Circle */
@keyframes topCircle {
  0% {
    transform: translate(-50%, calc(50% = 632px)) scale(1);
  }
  100% {
    transform: translate(-50%, calc(50% - 632px - 200px)) scale(0.8);
    opacity: 0;
  }
}
.animationTopCircle {
  animation: topCircle var(--animationOptions);
}

/* Bottom Circle */
@keyframes bottomCircle {
  0% {
    transform: translate(-50%, calc(50% = 105.5px)) scale(1);
  }
  100% {
    transform: translate(-50%, calc(50% + 105.5px + 200px)) scale(0.8);
    opacity: 0;
  }
}
.animationBottomCircle {
  animation: bottomCircle var(--animationOptions);
}
