.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  height: 35px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: "Instrument Serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  column-gap: 5px;
}

.inputContainer {
  min-width: 330px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 70px;
  position: relative;
}

.error {
  /* position: absolute;
  margin-top: 54px;
  height: 40px; */
  min-width: 330px;
  margin-top:4px;
  max-width: 467px;
  text-align: left;
  font-family: "Oxygen Mono";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid red;
}
