.button {
  width: 17px;
  height: 17px;
  background: url("../../../assets/addButton/Add.svg") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.button:hover {
  background: url("../../../assets/addButton/AddHover.svg") no-repeat;
}
